@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
   font-family: 'Android';
   src: url('./fontes/idroid.otf') format('opentype');
   font-weight: normal;
}

:root {
   --cor0: #ebe5c5;
   --cor1: #83e1ad;
   --cor2: #3ddc84;
   --cor3: #2fa866;
   --cor4: #1a5c37;
   --cor5: #063d1e;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque: 'Bebas Neue', cursive;
   --fonte-android: 'Android', sans-serif;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: var(--cor0);
   font-family: var(--fonte-padrao);
}

/* header */

header{
   box-sizing: content-box;
   color: white;
   text-align: center;
   background-image: linear-gradient(
      to bottom,
      var(--cor3),
      var(--cor5)
   );
   padding: 40px 10px 50px;
   min-height: 167px;
}

header h1, header p{
   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.204);
}

header h1{
   font-weight: normal;
   font-size: 3em;
   font-family: var(--fonte-destaque);
}

header p{
   max-width: 600px;
   margin: 0 auto;
   font-size: 1.2em;
   margin-top: 20px;
}

nav{
   padding: 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.196);
   background-color: var(--cor5);
}

nav li{
   display: inline;
}

nav a{
   color: var(--cor1);
   font-weight: bold;
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   transition: 0.5s;
}

nav a:hover{
   background-color: var(--cor3);
   color: var(--cor5);

}
/*****/ /**prontoooooo**/
/* main */
main{
   border-radius: 0 0 10px 10px;
   padding: 20px;
   margin: 0 auto;
   max-width: 1040px;
   background-color: white;
   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.509);
}

main h1, main h2, main p, img{
   margin-bottom: 15px;
}

main h1, main h2{
   font-weight: normal;
   font-family: var(--fonte-android);
}

main h1{
   font-size: 1.8em;
   color: var(--cor5);
}

main h2{
   background-image: linear-gradient(
      to right,
      var(--cor1),
      transparent
   );
   font-size: 1.3em;
   color: var(--cor4);
   text-indent: 8px;
}

main p{
   text-align: justify;
   text-indent: 30px;
   line-height: 2em;
}

strong{
   color: var(--cor4);
}

main a{
   text-decoration: none;
   color: var(--cor5);
   font-weight: bold;
   padding: 2px 6px;
   background-color: var(--cor1);
}

main a::after{
   content: ' (link)';
}

main img{
   width: 100%;
}

main img.pequena{
   display: block;
   margin: 0 auto;
   max-width: 350px;
}

#video{
   position: relative;
   width: calc(100% + 40px);
   padding-top: 60%;
   background-color: var(--cor5);
   margin-left: -20px;
}

#video iframe{
   position: absolute;
   width: 90%;
   height: 90%;
   bottom: 5%;
   left: 5%;
}

#extra-container{
   margin: 30px 0 20px;
   background-color: var(--cor1);
   border-radius: 10px;
   box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

#extra-section, #extra-container h3{
   padding: 10px;
}

#extra-container h3{
   border-radius: 10px 10px 0 0;
   color: white;
   background-color: var(--cor4);
}

#extra-section p{
   margin-top: 10px;
}

#extra-section ul{
   list-style-position: inside;
   columns: 2;
}

#extra-section ul li{
   line-height: 20px;
}

footer{
   margin-top: 30px;
   padding: 5px;
   background-color: var(--cor5);
   text-align: center;
   font-size: 0.8em;
   color: white;
}

footer a{
   color: white;
   text-decoration: none;
   font-weight: bold;
}